<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="/styles.css" rel="stylesheet">
    <script src="/js/htmx.js"></script>

</head>

<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg min-w-sm">
        <h1 class="mb-6 text-2xl text-center">Welcome, {{.Username}}!</h1>
        <p>This is your dashboard.</p>
    </div>

    <!-- <script src="https://unpkg.com/htmx.org"></script> -->
</body>
</html>
