<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin login portal</title>
    <link href="/styles.css" rel="stylesheet">
    <script src="/js/htmx.js"></script>
</head>
<body class="bg-neutral-50 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg min-w-sm">
        <h1 class="text-2xl text-center">Admin login portal</h1>
        <p class="mb-6 text-center italic">version 44.102.0012</p>
        <form hx-post="/login" hx-target="this" hx-swap="outerHTML">
            <input type="text" name="username" placeholder="Username" class="border p-2 w-full mb-4">
            <input type="password" name="password" placeholder="Password" class="border p-2 w-full mb-4">
            <button type="submit"
                class="bg-yellow-300 hover:bg-yellow-500 text-gray-900 font-bold py-2 px-4 rounded w-full">Login</button>
        </form>
    </div>
</body>
</html>
